.tasks-page {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tasks-page__tasks {
  padding: 16px;
  width: 100%;
  max-width: 1000px;
}

.tasks-page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.tasks-page__title {
  font-size: 20px;
  margin-left: 0px;
  font-family: 'Roboto', sans-serif;
}

.tasks-page__modal-title {
  margin: 0;
}
